---
import BaseLayout from "../layouts/base.astro";
import Card from "../components/card.astro";
---

<BaseLayout>
  <div class="" slot="content">
    <div class="content flex flex-col justify-between max-w-lg md:max-w-2xl lg:max-w-6xl mx-auto">
      <h2
        class="font-sans text-4xl font-bold text-slate-800 leading-tight tracking-tight font-serif">
        Redefining Business Excellence
      </h2>

      <div class="mb-12 mt-2">
        At Unicorncat Consulting, we're pioneering a future where technology enhances every aspect
        of life. We specialize in helping individuals and businesses navigate and harness the power
        of cutting-edge technology to create more fulfilling lives and efficient workplaces. Our
        unique blend of educational content, innovation consulting, and forward-thinking software
        solutions are designed not just to keep you ahead of the curve but to redefine it. We're
        committed to a world where technology is accessible, transformative, and leads us toward a
        future akin to Star Trek—abundant, ethical, and driven by each individual's gifts and
        calling. Join us in shaping a future where technology empowers everyone.
      </div>

      <h3
        class="block font-sans text-3xl font-semibold text-slate-800 leading-tight tracking-tight font-serif">
        Why Us
      </h3>

      <div class="grid grid-cols-1 gap-4 mt-4 mb-2">
        <Card icon="SaaS">
          <h3 slot="header">Innovation at Our Core</h3>
          <p>
            Innovation is not a buzzword. Innovation is a mindset, a way of life we feel deep in our
            bones. It is about improving efficiency or effectiveness and finding a deeper purpose
            and meaning in our work. We believe in pushing boundaries, thinking outside the box, and
            constantly evolving to keep your business at the forefront of your industry.
          </p>
        </Card>

        <Card icon="User Experience">
          <h3 slot="header">Efficiency, Redefined</h3>
          <p>
            Through Lean Six Sigma and meticulous business process re-engineering, we shape
            streamlined, agile, and efficient organizations ready to lead in their markets.
          </p>
        </Card>

        <Card icon="Unicorn">
          <h3 slot="header">Human Creativity</h3>
          <p>
            At the intersection of technology and human ingenuity, we forge solutions that breathe
            life and vibrancy into your organization, nurturing a culture of unrelenting curiosity
            and creativity.
          </p>
        </Card>
        <Card icon="Feedback Audience">
          <h3 slot="header">Character & Relationships</h3>
          <p>
            Beyond business, we build relationships anchored on trust, integrity, and a sprinkle of
            humor, because working with us is not just about results; it's about enjoying the
            journey to success together.
          </p>
        </Card>
      </div>
    </div>
  </div>
</BaseLayout>
