---
import BaseLayout from "../layouts/base.astro";
import Card from "../components/card.astro";
---

<BaseLayout>
  <div class="" slot="content">
    <div class="content flex flex-col justify-between max-w-lg md:max-w-2xl lg:max-w-6xl mx-auto">
      <h2 class="font-sans text-4xl font-semibold text-slate-800 leading-tight tracking-tight">
        Redefining Business Excellence
      </h2>

      <div class="mb-12">
        Welcome to Unicorncat Consulting, where innovation meets efficiency to propel your business
        to unprecedented heights.
      </div>

      <h3
        class="block font-sans text-3xl font-semibold text-slate-800 leading-tight tracking-tight"
      >
        Why Us
      </h3>

      <div class="flex flex-col w-full gap-4 mt-4 mb-2">
        <Card
          header="Innovation at Our Core"
          content={`Innovation is not a buzzword. Innovation is a mindset, a way of
        life that we feel deep in our bones. It is not just about improving efficiency or
        effectiveness, but about finding a deeper purpose and meaning in our work. We believe in
        pushing boundaries, thinking outside the box, and constantly evolving to keep your
        business at the forefront of your industry.`}
        />
        <Card
          header="Efficiency, Redefined"
          content={`Through Lean Six Sigma and meticulous business process
            re-engineering, we shape streamlined, agile, and efficient organizations ready to lead
            in their markets.`}
        />
        <Card
          header="Human Creativity"
          content={`At the intersection of technology and human ingenuity, we forge solutions
            that breathe life and vibrancy into your organization, nurturing a culture of unrelenting
            curiosity and creativity.`}
        />
        <Card
          header="Character & Relationships"
          content={`Beyond business, we build relationships anchored on trust,
            integrity, and a sprinkle of humor, because working with us is not just about results; it’s
            about enjoying the journey to success together.`}
        />
      </div>
    </div>
  </div>
</BaseLayout>
