---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout>
  <div class="" slot="content">
    <div
      class="flex flex-col justify-between max-w-lg md:max-w-2xl lg:max-w-6xl mx-auto"
    >
      <h2
        class="font-sans text-4xl font-semibold text-slate-800 leading-tight tracking-tight"
      >
        About us
      </h2>

      <p>TBD.</p>
    </div>
  </div>
</BaseLayout>
