---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout>
  <div
    class="flex justify-between max-w-lg md:max-w-2xl lg:max-w-6xl mx-auto mt-12 pt-20 pb-12 relative border-t-2 border-[#523879]"
    slot="header-content"
  >
    <div class="animate-fadeIn">
      <h2
        class="text-3xl md:text-6xl font-bold text-white font-serif leading-tight tracking-tight max-w-2xl mb-2"
      >
        Start your digital transformation today
      </h2>

      <div class="text-lg max-w-lg text-[#c4a3ec]">
        We use emerging tech to redesign business processes, significantly reduce costs, improve
        quality, and efficiency.
      </div>
    </div>
  </div>
  <div class="lg:mt-24" slot="content">
    <div class="content flex flex-col justify-between max-w-lg md:max-w-2xl lg:max-w-6xl mx-auto">
      <h3
        class="font-sans text-4xl font-bold text-slate-800 leading-tight tracking-tight font-serif"
      >
        Empowering Your Digital Future
      </h3>

      At Unicorncat Consulting, we're not just consultants; we're your partners in reimagining the
      potential of your business in the digital age. Specializing in digital transformation,
      software development, artificial intelligence, and automation, we harness the power of
      technology to drive innovation, efficiency, and growth.
    </div>
  </div>
</BaseLayout>
