---
import BaseLayout from "../layouts/base.astro";
import Card from "../components/card.astro";
---

<BaseLayout>
  <div class="" slot="content">
    <div class="content flex flex-col justify-between max-w-lg md:max-w-2xl lg:max-w-6xl mx-auto">
      <a href="/sdfsdf">asdasd</a>
      <!-- PUT LINKS HERE //-->





    </div>
  </div>
</BaseLayout>
